@{
	ViewBag.Title = "Test Runs";
}

<div id="content"></div>
@section scripts{
	<script src="@Url.Content("~/scripts/z0_search_box.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tr_info.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tr_life.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tr_duration.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tc_timeline.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tc_agent.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tc_longest.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tcx_failures.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tcx_deviation.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_trx_duration.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_trx_agents.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_trx_sequence_execution.jsx")"></script>
	<script src="@Url.Content("~/scripts/z0_tr.jsx")"></script>
}
